@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(204, 43%, 93%);
    font-family: "Karla";

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding-inline: 2rem;
    margin-block: 3rem;
    max-width: 645px;
}
.main__description-section{
    background-color: white;
    padding: 1.625rem;
    border-radius: 5px 5px 0 0;
    max-width: 315px;
}
.main__h1{
    color: hsl(179, 62%, 43%);
    font-size: 1.25rem;
}
.main__h2{
    color: hsl(71, 73%, 54%);
    font-size: 0.875rem;
    font-weight: 700;
    margin-block: 1.75rem 1.5rem;
}
.main__description{
    color: hsl(218, 22%, 67%);
    font-size: .875rem;
}
.main__sub{
    background-color: hsl(179, 62%, 43%);
    padding: 1.625rem;
    max-width: 315px;
}
.main__h2-sub, .main__h2-whyus{
    color: hsl(204, 43%, 93%);
    font-size: 1.125rem;
    margin-block-end: 1rem
}

.main__price{
    color: white;
    font-size: 2rem;
    font-weight: 600;

    display: flex;
    align-items: center;
}
.main__price span{
    color: hsla(178, 60%, 67%, 0.808)   ;
    font-size: .75rem;
    margin-inline-start: .5rem;
    font-weight: 300;
}
.main__p-sub{
    color: hsl(203, 44%, 93%);
    margin-block: .5rem 1.75rem;
}
.main__sub button{
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    font-family: "Karla";
    font-weight: 400;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
    width: 100%;
}

.main__whyus{
    background-color: hsl(179, 47%, 52%);
    padding: 1.625rem;
    border-radius: 0 0 5px 5px;
    max-width: 315px;
}


.main__list{
    list-style-type: none;
    color: hsl(203, 44%, 93%);
    font-size: .875rem;
    font-weight: 300;
}

@media screen and (min-width: 1024px){
    .main{
        max-height: 480px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1.125fr;
    }
    .main__description-section{
        grid-column: 1/3;
        max-width: 615px;
        padding: 2.75rem;
    }
    .main section{
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
    
    .main__h1{
        font-size: 1.5rem;
    }
    .main__h2{
        font-size:  1.125rem;
        margin-block: 1.75rem 1.25rem;

    }
    .main__description{
        font-size: .9rem;
    }
    .main__sub, .main__whyus{
        padding: 2rem;
    }
    .main__list li{
        margin-block-end: .1rem;
        font-size: 1rem;

    }
    .main__p-sub{
        font-size: .95rem;
    }
    .main__sub{
        border-radius: 0 0 0 5px;
    }
    .main__whyus{
        border-radius: 0 0 5px 0;
    }
}